<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamProject2.sdschild">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDSChild">
        <activity android:name="com.teamProject2.sdschild.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.teamProject2.sdschild.HomeActivity"/>
        <activity android:name="com.teamProject2.sdschild.BoardActivity"/>
        <activity android:name="com.teamProject2.sdschild.CalendarActivity"/>
        <activity android:name="com.teamProject2.sdschild.InvestActivity"/>
        <activity android:name="com.teamProject2.sdschild.JobActivity"/>
        <activity android:name="com.teamProject2.sdschild.MyPageActivity"/>
        <activity android:name="com.teamProject2.sdschild.NoticeActivity"/>
        <activity android:name="com.teamProject2.sdschild.PhotoActivity"/>
        <activity android:name="com.teamProject2.sdschild.RegisterActivity"/>
        <activity android:name="com.teamProject2.sdschild.MarketActivity"/>
        <activity android:name="com.teamProject2.sdschild.RevenueActivity"/>
        <activity android:name="com.teamProject2.sdschild.RevenueAddActivity"/>
        <activity android:name="com.teamProject2.sdschild.RevenueRegisterActivity"/>
        <activity android:name="com.teamProject2.sdschild.WholesalerActivity"/>
        <activity android:name="com.teamProject2.sdschild.WholesalerAddActivity"/>
        <activity android:name="com.teamProject2.sdschild.WholesalerEditActivity"/>
        <activity android:name="com.teamProject2.sdschild.RevenueEditActivity"/>
        <activity android:name="com.teamProject2.sdschild.BoardViewActivity"/>
        <activity android:name="com.teamProject2.sdschild.WeightActivity"/>
    </application>

</manifest>